<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1-触摸事件.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7ECCEECB1D5AFB79000F9D7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7ECCEEE41D5AFB7A000F9D7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7ECCEEEF1D5AFB7A000F9D7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
